@model RoutesListViewModel

<h1>Routes</h1>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Grade</th>
            <th scope="col">Color</th>
            <th scope="col">Rope</th>
            <th scope="col">Date put up</th>
            <th scope="col">Location</th>
            <th scope="col">Setter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.Routes)
        {
            <tr>
                <td>@route.Grade</td>
                <td>@route.Color</td>
                <td>@route.Rope</td>
                <td>@route.DateCreated</td>
                <td>@route.Location</td>
                <td>@route.Setter</td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-dark">Add Route</button>
<button type="button" class="btn btn-secondary">Edit Route</button>
<button type="button" class="btn btn-danger">Delete Route</button>

